body, button, div, a, p, ul, ol input, h1, h2, h3{
    font-family: 'Open Sans', sans-serif;
    outline: none;
    background-color: transparent;
    border:none;
    padding: 0;
    margin: 0;
    list-style: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.click-btn{
    background-color:  #ff0000;
    height: 70px;
    width: 235px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    color:white;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
.wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;

}
.click-btn:hover{
    opacity: .7;
}

.popup{
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgb(0 0 0 / 70%);
    top:-9999px;
    left: 0px;
    opacity: 0;
    -webkit-transition: opacity .4s;
    -o-transition: opacity .4s;
    transition: opacity .4s;
}
.popup.active{
    top:0;
    opacity: 1;
    -webkit-transition: opacity .4s;
    -o-transition: opacity .4s;
    transition: opacity .4s;
}
.popup__wrapper{
    background-color: white;
    max-width: 100%;
    width: 900px;
    opacity: 1;
    border-radius: 27px;
    position: relative;
    padding-top: 56px;
    padding-left: 50px;
    padding-right: 52px;
    padding-bottom: 69px;
    background-image: url(./img/file.png);
    background-repeat: no-repeat;
    background-position: left 30px bottom -5px;
    background-size: 424px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: -99999px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: opacity .4s;
    -o-transition: opacity .4s;
    transition: opacity .4s;
}
.popup__wrapper.active{
    opacity: 1;
    top:50%;
    -webkit-transition: opacity .4s;
    -o-transition: opacity .4s;
    transition: opacity .4s;
}
.popup__header{
    font-size: 35px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 53px;
    width: 100%;
}

.popup__close{
    position: absolute;
    top: 21px;
    right: 18px;
    cursor: pointer;
}  
.popup__icons{
    padding-top: 6px;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    -webkit-column-gap: 11px;
       -moz-column-gap: 11px;
            column-gap: 11px;
    grid-auto-columns: 37px;
}
.popup__form{
    width: 349px;
}
.form__fields{
    display: -ms-grid;
    display: grid;
    row-gap: 30px;
    margin-bottom: 15px;
}
.form__label{
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 9px;
    font-weight: 400;
    display: block;
}

.form__input{
    height: 50px;
    border: 1px solid rgb(160, 160, 160);
    width: 100%;
    font-size: 15px;
    border-radius: 5px;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.form__input:focus{
    outline: none;
}
.form__input.success{
    border: 1px solid green;
}
.form__input.error{
    border: 1px solid red;
}
.form__input::-webkit-input-placeholder{
    font-size: 15px;
    color:#999999;
}
.form__input::-moz-placeholder{
    font-size: 15px;
    color:#999999;
}
.form__input:-ms-input-placeholder{
    font-size: 15px;
    color:#999999;
}
.form__input::-ms-input-placeholder{
    font-size: 15px;
    color:#999999;
}
.form__input::placeholder{
    font-size: 15px;
    color:#999999;
}
.form__btn{
    border-radius: 5px;
    height: 71px;
    width: 100%;
    background-color: #33cc66;
    -webkit-box-shadow: 0 5px 0 #339966;
            box-shadow: 0 5px 0 #339966;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    font-size: 25px;
    font-weight: 600;
    color:white;
    margin-bottom: 13px;
}
.form__btn:hover{
    -webkit-box-shadow: 0 3px 0 #339966;
            box-shadow: 0 3px 0 #339966;
}
.form__btn-img{
    margin-left: 22px;
}
.form__file-sizes{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 220px;
    margin: 0 auto;
    font-size: 12px;
    color:#999999;
}
.success-window, .fail-window{
    background-color: white;
    height: 100px;
    width: 300px;
    position: absolute;
    top: -99999px;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-transform: uppercase;
    color:grey;
    font-size: 12px;
}
.success-window.active, .fail-window.active{
    top:50%;
    opacity: 1;
}
@media(max-width:800px){
    .popup__wrapper{
        width: 320px;
        padding: 0 19px 32px;
        background-position: top 14px left 56px;
        background-size: 218px;
        border-radius: 15px;
    }

    .popup__header{
        font-size: 20px;
        text-align: center;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        margin-bottom: 30px;
    }
    .popup__icons{
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        padding-top: 153px;
        -webkit-column-gap: 9px;
           -moz-column-gap: 9px;
                column-gap: 9px;
        grid-auto-columns: 29px;
        margin: 0 auto 28px;

    }
    .popup__form{
        -webkit-box-ordinal-group:4;
            -ms-flex-order:3;
                order:3;
        width: 100%;
    }
    .popup__icons-img{
        width: 29px;
    }
    .popup__close{
        top:10px;
        right: 12px;
    }
    .form__label{
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 7px;
        margin-right: -13px;
    }
    .form__fields{
        row-gap: 24px;
        margin-bottom: 12px;
    }
    .form__btn{
        height: 57px;
        background-image: -ms-linear-gradient( 90deg, rgb(60,195,109) 0%, rgb(55,219,115) 100%);
        font-size: 20px;
        margin-bottom: 0px;
    }
    .form__btn-img{
        margin-left: 18px;
        width: 28px;
        -o-object-fit: contain;
           object-fit: contain;
    }
    .form__file-sizes{
        display: none;
    }
}


  
  